<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-12 col-md-4  allteam">
            <div class="card ">
                <img src="../../../assets/dr-omar.jpg" class="card-img-top" alt="...">
                <div class="card-body">

                    <h5 class="card-title"> د.عمر العسوفي</h5>
                    <p class="card-text">
                        هو مالك تطبيق <span>الطريق إلى الطبيب</span> و قام بتحليل النظام وحوله إلى تطبيق،كما أنه مالك
                        مؤسسة أنظمة الرعاية الصحية الإلكترونية/الشيح.(الحوسبة للقطاع الصحي ).
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<div class="team ">
    <div class="card ">
        <img src="../../../assets/alaa1.jfif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> علاء البواعنه </h5>
            <p class="card-text">
                Technical Team Lead
            </p>
        </div>
    </div>

    <div class="card ">
        <img src="../../../assets/suhaib.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> صهيب العجارمة </h5>
            <p class="card-text">
                business analyst
            </p>
        </div>
    </div>ِ

    <div class="card ">
        <img src="../../../assets/bayan1.jfif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> بيان العسوفي </h5>
            <p class="card-text">
                QA Engineer
            </p>
        </div>
    </div>
    <div class="card ">
        <img src="../../../assets/lima1.jfif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">م.ليما أبولاوي</h5>
            <p class="card-text">
                Frontend Developer
            </p>
        </div>
    </div>
    <div class="card ">
        <img src="../../../assets/fayzeh2.jfif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">م.فايزة ابوصوفة </h5>
            <p class="card-text">
                QA Engineer
            </p>
        </div>
    </div>
    <div class="card ">
        <img src="../../../assets/anyone.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> خالد عوض </h5>
            <p class="card-text">
                Mobile Team Leader
            </p>
        </div>
    </div>
    <div class="card ">
        <img src="../../../assets/mustafa.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">مصطفى محمود </h5>
            <p class="card-text">
                flutter developer
            </p>
        </div>
    </div>
    <div class="card ">
        <img src="../../../assets/aya.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> اية مطرود </h5>
            <p class="card-text">
                full stack developer
            </p>
        </div>
    </div>

</div>