<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide class="custom">
        <img src="../../../assets/Group 1926.png" alt="">
    </ng-template>
    <ng-template carouselSlide class="custom">
        <img src="../../../assets/Group 1927.png" alt="">
    </ng-template>
    <ng-template carouselSlide class="custom">
        <img src="../../../assets/Group 1926.png" alt="">
    </ng-template>
    <ng-template carouselSlide class="custom">
        <img src="../../../assets/Group 1927.png" alt="">
    </ng-template>


</owl-carousel-o>

<!--   <ng-template carouselSlide class="custom">
        <div class="worksSlide slide">
            <img src="../../../assets/Path 8464.png" alt="">
            <h4>إنشاء حساب او تسجيل دخول</h4>
            <p style="color: #969595;">
            sha512-1sCRPdkRXhB
            V2PBLUdRb4tMg1w2YPf37qatUFe
            S7zlBy7jJI8Lf4VHwWfZZfpXtY
            SLy85pkm9GaYVYMfw5BC1A
            </p>
        </div>
    </ng-template>
    <ng-template carouselSlide class="custom">
        <div class="worksSlide slide">
            <img src="../../../assets/Path 8464.png" alt="">
            <h4>إنشاء حساب او تسجيل دخول</h4>
            <p style="color: #969595;">
            sha512-1sCRPdkRXhB
            V2PBLUdRb4tMg1w2YPf37qatUFe
            S7zlBy7jJI8Lf4VHwWfZZfpXtY
            SLy85pkm9GaYVYMfw5BC1A
            </p>
        </div>
    </ng-template>
    <ng-template carouselSlide class="custom">
        <div class="worksSlide slide">
            <img src="../../../assets/Path 8464.png" alt="">
            <h4>إنشاء حساب او تسجيل دخول</h4>
            <p style="color: #969595;">
            sha512-1sCRPdkRXhB
            V2PBLUdRb4tMg1w2YPf37qatUFe
            S7zlBy7jJI8Lf4VHwWfZZfpXtY
            SLy85pkm9GaYVYMfw5BC1A
            </p>
        </div>
    </ng-template>
   -->