<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide class="custom">
        <div class="slide">
            <img src="../../../assets/Path 8464.png" alt="">
            <h4>د. سوزان سامي</h4>
            <h6 style="color: #969595;">د. سوزان سامي</h6>
        </div>
    </ng-template>
  
    <ng-template carouselSlide class="custom">
        <div class="slide">
            <img src="../../../assets/Path 8464.png" alt="">
            <h4>د. سوزان سامي</h4>
            <h6 style="color: #969595;">د. سوزان سامي</h6>
        </div>
    </ng-template>
  
    <ng-template carouselSlide class="custom">
        <div class="slide">
            <img src="../../../assets/Path 8464.png" alt="">
            <h4>د. سوزان سامي</h4>
            <h6 style="color: #969595;">د. سوزان سامي</h6>
        </div>
    </ng-template>
  
    <ng-template carouselSlide class="custom">
        <div class="slide">
            <img src="../../../assets/Path 8464.png" alt="">
            <h4>د. سوزان سامي</h4>
            <h6 style="color: #969595;">د. سوزان سامي</h6>
        </div>
    </ng-template>
  
    <ng-template carouselSlide class="custom">
        <div class="slide">
            <img src="../../../assets/Path 8464.png" alt="">
            <h4>د. سوزان سامي</h4>
            <h6 style="color: #969595;">د. سوزان سامي</h6>
        </div>
    </ng-template>
  
    <ng-template carouselSlide class="custom">
        <div class="slide">
            <img src="../../../assets/Path 8464.png" alt="">
            <h4>د. سوزان سامي</h4>
            <h6 style="color: #969595;">د. سوزان سامي</h6>
        </div>
    </ng-template>
  

</owl-carousel-o>