.callus {
    display: flex;
    justify-content: center;
}

.bg-green {
    background-color: #B4C2C9;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bg-green button {
    width: 200px;
    border: none;
    border-radius: 30px;
    height: 37px;
    background-color: #03314B;
    color: white;
    margin-top: 15px;
}

.contact {
    columns: 3;
}

.bg-green input,
.bg-green textarea {
    border-width: 1px;
    border-color: transparent;
    width: 100%;
    // margin-top: 16px;
    padding: 15px 21px;
    border-radius: 10px;
}
.border-rose-600{
    border: 1px solid red !important;
}
.errorLabel{
    opacity: 0;
    color: red;
}
.opacity_1{
    opacity: 1;
    display: block;
    text-align: right;
}