<div class="row callus">
    <div class="col-7 bg-green">
        <h6>نحن هنا من أجلك! كيف يمكننا المساعدة؟</h6>
        <form action="">
            <div class="row">
                <div class="col-12 col-md-6">
                    <input placeholder="ادخل اسمك"> 
                    <input placeholder="ادخل بريدك الالكتروني">
                </div>
                <div class="col-12  col-md-6">
                    <textarea name="" id="" cols="30" rows="4">
                        اكتب رسالتك
                    </textarea>
                </div>
<div class="col-12">
    <button class="shadow bottom">البدء</button>

</div>
            </div>
        </form>
        <div class="contact">
            <div>Jordan - Amman</div>
            <div>+962780190006</div>
            <div>info@wecan.jo</div>
        </div>
    </div>
</div>