<div class="row callus">
  <div class="col-7 bg-green">
    <h6>نحن هنا من أجلك! كيف يمكننا المساعدة؟</h6>
    <form  (submit)="sendEmail($event)">
      <div class="row">
        <div class="col-12 col-md-6">
          <input placeholder="ادخل اسمك" name="user_name">
          <input placeholder="ادخل بريدك الالكتروني" name="user_email">
        </div>
        <div class="col-12  col-md-6">
          <textarea name="message" id="" cols="30" rows="4">
                        اكتب رسالتك
                    </textarea>
        </div>
        <div class="col-12">
          <button type="submit" class="shadow bottom">البدء</button>

        </div>
      </div>
    </form>
    <div class="contact">
      <div>Jordan - Amman</div>
      <div>+962780190006</div>
      <div>info@wecan.jo</div>
    </div>
  </div>
</div>
