<div class="container" dir="rtl">
    <div class="row">
        <!-- navbar -->
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">الرئيسية</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">الاطباء</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">كيف يعمل</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">من نحن</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">اتصل بنا</a>
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="../../../assets/Group 1807.png" alt="">
                    </a>

                </div>
            </nav>
        </div>
    </div>
    <div class="row head">
        <!-- header -->
        <div class="col-12 col-md-6 paragraph">
            <h2>
                رعاية صحية لحياة أفضل
            </h2>
            <p>
                تطبيقنا يوفر حلول و موارد عملية لمساعدة المستخدمين على تحسين صحتهم كما يقدم معلومات و إرشادات للحفاظ على
                صحتهم تطبيقنا يوفر حلول و موارد عملية لمساعدة المستخدمين على تحسين صحتهم كما يقدم معلومات و إرشادات
                للحفاظ على صحتهم
            </p>
            <button class="shadow bottom">البدء</button>
        </div>
        <div class="col-12 col-md-6">
            <img src="../../../assets/freepik--background-simple--inject-142.png" alt="">
        </div>

    </div>
    <section class="">
        <h2>
            الأطباء
        </h2>
        <app-doctors></app-doctors>
    </section>
    <section class="">
        <h2>
            كيف يعمل
        </h2>
        <app-works></app-works>
    </section>
    <section class="">
        <h2>
            اتصل بنا
        </h2>
        <app-call-us></app-call-us>
    </section>
</div>
<div class="footer">
    <div class="container">
        <div class="row ">
            <div class="col-6">
                <h5>Dawnload The App</h5>
                <div class="links">
                    <img src="../../../assets/Group 1768.png" alt="">
                    <img src="../../../assets/Group 1770.png" alt="">
                </div>  
            </div>
            <div class="col-6 links2">
                <div>
                    مواقع التواصل الاجتماعي
                </div>
                <div>
                    سياسة الخصوصية </div>
                <div>
                    الشروط و الاحكام </div>

            </div>
        </div>
    </div>
</div>